<h1>Cats#index</h1>
<p>Find me in app/views/cats/index.html.erb</p>
<% @cats.each do |cat| %>
  <%= cat.name %> - <%= cat.address %> -
  <%= link_to "delete", cat_path(cat), method: :delete %>
<% end %>
